.page-item.active .page-link,
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: rgb(126, 124, 124) !important;
}

@media (prefers-color-scheme: dark) {
    .select2-dropdown {
        background-color: white !important;
        color: black
    }

    .select2-container--default .select2-selection--single,
    .select2-container--default .select2-selection--multiple {
        background-color: white !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered,
    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        color: black !important;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: white !important;
    }
}
